Exercícios com Listas em Python

Os exercícios abordam diferentes aspectos como leitura, verificação, filtragem e
processamento de dados.

In [2]:
nomes = ["Rogério", "Amanda","Luiz", "Juliana", "Carlos"]
print(nomes)

['Rogério', 'Amanda', 'Luiz', 'Juliana', 'Carlos']

Exercício 2 – Lista com Quantidade Informada

In [7]:
x = int(input("Quantos nomes você ira informar?"))
lista = []
for i in range(x):
  nomes = input("Digite o nome:")
  lista.append(nomes)
print(lista)

Quantos nomes você ira informar?3
Digite o nome:Thomas
Digite o nome:Elton
Digite o nome:Bettina
['Thomas', 'Elton', 'Bettina']

Exercício 3 – Times de Futebol

In [17]:
x = int(input("Quantos nomes de times você ira informar?"))

lista = []
for i in range(x):
  nomes = input("Digite o nome do time:")
  lista.append(nomes)
print(lista[0], "primerio")
print(lista[-1], "ultimo")
if(x % 2 == 0):
  print(lista[x //2], "meio")
  print(lista[x //2 -1], "meio")

Quantos nomes de times você ira informar?4
Digite o nome do time:a
Digite o nome do time:b
Digite o nome do time:c
Digite o nome do time:d
a primerio
d ultimo
c meio
b meio

Exercício 4 – Exibir Números (Ordem Normal)

In [18]:
lista = [1, 2, 3, 4, 5, 6]
print(lista)

[1, 2, 3, 4, 5, 6]

Exercício 5 – Exibir Números (Ordem Inversa)

In [20]:
lista = [1, 2, 3, 4, 5, 6]
lista.reverse()
print(lista)

[6, 5, 4, 3, 2, 1]

Exercício 6 – Exibir Números Pulando de 2 em 2

In [22]:
lista = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(lista[0:len(lista):3])

[1, 4, 7, 10]

Exercício 7 – Exibir Números Inversos Pulando de 3 em 3

In [23]:
lista = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
lista.reverse()
print(lista[0:len(lista):4])

[10, 6, 2]

Exercício 8 – Exibir a Partir do Meio

In [ ]:

qtd = int(input("Quantos números você quer inserir? "))

numeros = []
for i in range(qtd):
    num = int(input(f"Digite o número {i+1}: "))
    numeros.append(num)


print("\nLista completa:", numeros)


meio = qtd // 2

print("\n--- Do meio ao primeiro ---")
if qtd % 2 == 0:
    print("Primeiro elemento central:", numeros[meio - 1])
    print("Segundo elemento central:", numeros[meio])
    for i in range(meio, -1, -1):
        print(numeros[i])
else:
    print("Elemento central:", numeros[meio])
    for i in range(meio, -1, -1):
        print(numeros[i])

print("\n--- Do meio ao último ---")
if qtd % 2 == 0:
    for i in range(meio - 1, qtd):
        print(numeros[i])
else:
    for i in range(meio, qtd):
        print(numeros[i])

Exercício 9 – Filtrar Salários

In [37]:
sal = [5, 3500.0, 1400.0, 900.2, 1900.2, 899.0]
def meu_filtro(n):
  return n >= 1412.0

filtro = filter(meu_filtro, sal)
print(list(filtro))

[3500.0, 1900.2]

Exercício 10 – Notas dos Alunos (Separar Aprovação)

In [38]:
notas = [10, 9.0, 7.0, 7.5, 6.5, 8.0, 5.9, 7.2, 6.9, 10, 8.5]

def aprovacao(n):
  return n >= 7.0
def reprovacao(n):
  return n < 7.0

aprovados = filter(aprovacao, notas)
print(list(aprovados))
reprovados = filter(reprovacao, notas)
print(list(reprovados))

[10, 9.0, 7.0, 7.5, 8.0, 7.2, 10, 8.5]
[6.5, 5.9, 6.9]

Exercício 11 – Soma de 12 Salários

In [39]:
salarios = [1900.0, 1850.0, 1900.0, 2100.0, 1900.0, 1800.0, 2000.0, 1900.0, 2100.0, 2200.0, 1800.0, 2300.0]
print(sum(salarios))

23750.0

Exercício 12 – Média de Notas

In [50]:
from statistics import mean

notas = [6, 9.0, 7.0, 7.5, 6.5, 8.0, 5.9]

media = mean(notas)
print(f"A média das notas é: {media:.2f}")

A média das notas é: 7.13

Exercício 13 – Contagem de Notas Acima e Abaixo da
Média

In [58]:
notas = [6, 9.0, 7.0, 7.5, 6.5, 8.0, 5.9]

def aprovacao(n):
  return n >= 7.0
def reprovacao(n):
  return n < 7.0

aprovados = filter(aprovacao, notas)
reprovados = filter(reprovacao, notas)
print(f"Alcançaram a media: {len(list(aprovados))}")
print(f"Não alcançaram a media: {len(list(reprovados))}")

Alcançaram a media: 4
Não alcançaram a media: 3

Exercício 14 – Classificação de Idades

In [62]:
idades = [10, 45, 17, 34, 21, 15, 4, 11, 29, 12, 21]

def crianca(i):
  return i <= 11
def adolescente(i):
  return 12 <= i <= 17
def adulto(i):
  return i >= 18

criancas = filter(crianca, idades)
adolescentes = filter(adolescente, idades)
adultos = filter(adulto, idades)

print(f"Crianças: {len(list(criancas))}")
print(f"Adolescentes: {len(list(adolescentes))}")
print(f"Adultos: {len(list(adultos))}")

Crianças: 3
Adolescentes: 3
Adultos: 5

Exercício 15 – Média de Idades por Grupo

In [65]:
from statistics import mean

idades = [10, 45, 17, 34, 21, 15, 4, 11, 29, 12, 21]

def crianca(i):
  return i <= 11
def adolescente(i):
  return 12 <= i <= 17
def adulto(i):
  return i >= 18

criancas = filter(crianca, idades)
adolescentes = filter(adolescente, idades)
adultos = filter(adulto, idades)

criancas = list(filter(crianca, idades))
adolescentes = list(filter(adolescente, idades))
adultos = list(filter(adulto, idades))

print(f"Crianças: {len(list(criancas))}, media: {mean(criancas):.2f}")
print(f"Adolescentes: {len(list(adolescentes))}, media: {mean(adolescentes):.2f}")
print(f"Adultos: {len(list(adultos))}, media: {mean(adultos):.2f}")

Crianças: 3, media: 8.33
Adolescentes: 3, media: 14.67
Adultos: 5, media: 30.00

Exercício 16 – Contar Números Primos

In [66]:
def eh_primo(n):
    if n < 2:
        return False
    for i in range(2, int(n**0.5)+1):
        if n % i == 0:
            return False
    return True

numeros = [10, 45, 17, 34, 21, 15, 4, 11, 29, 12, 21]

primos = list(filter(eh_primo, numeros))

print(f'Números primos encontrados: {primos}')
print(f'Quantidade de números primos: {len(primos)}')

Números primos encontrados: [17, 11, 29]
Quantidade de números primos: 3